<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FantasticEdu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34F54A431EC3A8B10075EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F54A571EC3A8B20075EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F54A621EC3A8B20075EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
